html, body {
  margin: 0;
  padding: 0;
  background-color: #FF715B;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #4C5454;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  width: 80%;
  padding: 5px;
}

textarea {
  width: 100%;
  height: 5em;
  font-size: 1.2em;
}

.post {
  background-color: #FFFFFF;
  padding: 1em;
  margin: 0.5em 0;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
}

.button {
  color: #FFFFFF;
  background-color: #1EA896;
  width: 5em;
  padding: 0.5em;
  border-radius: 0.2em;
  font-weight: 600;
  box-shadow: 0 0 0.3em rgba(0,0,0,0.5)
}

.button:hover {
  opacity: 0.8;
}

.delete {
  background-color: rgb(253, 87, 61);
}